<div class="container-fluid">
    <app-login *ngIf="!isLogin"></app-login>

    <div *ngIf="isLogin" class="d-flex">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="{'collapsed': !isSidebarOpen}">
            <!-- Menu Icon -->
            <div class="sidebar-heading d-flex justify-content-end p-2">
                <span class="navbar-toggler-icon" id="menu-icon" (click)="toggleSidebar()" style="cursor: pointer;">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </div>
            <div class="list-group list-group-flush" *ngIf="isSidebarOpen">
    
                <a class="list-group-item list-group-item-action bg-light" routerLink="/dashboard" routerLinkActive="">
                    <i class="fa-solid fa-chart-line p-1"></i>
                    <span class="ms-1 ">Dashboard</span>
                </a>
                <a class="list-group-item list-group-item-action bg-light" routerLink="/newMerchent" routerLinkActive="">
                    <i class="fa-solid fa-plus p-1  "></i>
                    <span class="ms-1 ">Create new Merchent</span>
                </a>
                <a class="list-group-item list-group-item-action bg-light" routerLink="/users" routerLinkActive="">
                    <i class="fa-regular fa-user p-1"></i>
                    <span class="ms-1 ">All users</span>
                </a>
                <a class="list-group-item list-group-item-action bg-light" (click)="logout()" routerLinkActive="">
    
                    <i class="fa-solid fa-outdent p-1"></i>
    
                    <span class="ms-1 ">Logout</span>
                </a>
    
            </div>
        </div>
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
            <router-outlet></router-outlet>
    
        </div>
    </div>
</div>