/* Styles for the sidebar */
#sidebar-wrapper {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  
  #sidebar-wrapper.collapsed {
    width: 80px; /* Shrink the sidebar */
  }
  
  #page-content-wrapper {
    width: 100%;
    margin-left: 250px;
    transition: all 0.3s ease;
  }
  
  #sidebar-wrapper.collapsed ~ #page-content-wrapper {
    margin-left: 80px; /* Adjust page content when sidebar is collapsed */
  }
  
  .navbar-toggler-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  

  /* Style for active link */
.active-link {
  background-color: #09BBF0;
  /* Change this to the color you prefer */
  color: white; /* Text color for active link */
}

.active-link i {
  color: white; /* Change icon color for active link */
}

.list-group-item {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for the hover effect */
}

.list-group-item:hover {
  background-color: #f1f1f1; /* Optional: Hover effect */
}
.roseirie-background {
  background-color: #09BBF0;
}

.handle-img-logo{
  width: 50px;
  height: 50px;
}